language: php

php:
  - 7.2
  - 7.3
  - 7.4
  - nightly

# This triggers builds to run on the new TravisCI infrastructure.
# See: http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

## Cache composer
cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-dist

matrix:
  allow_failures:
    - php: nightly
  fast_finish: true

script: vendor/bin/phpunit
