<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
     backupStaticAttributes="false"
     bootstrap="vendor/autoload.php"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="false"
     stopOnFailure="false"
     syntaxCheck="false"
>
  <testsuites>
    <testsuite name="Former Test Suite">
      <directory>tests</directory>
      <directory>tests/Framework</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>src/Former</directory>
      <exclude>
        <directory>vendor</directory>
        <directory>src/Laravel</directory>
      </exclude>
    </whitelist>
  </filter>

  <logging>
    <log type="testdox-html" target="tests/logs/testdox.html"/>
    <!-- <log
      type           = "coverage-html"
      target         = "tests/logs/"
      charset        = "UTF-8"
      yui            = "true"
      highlight      = "true"
      lowUpperBound  = "35"
      highLowerBound = "70"/> -->
  </logging>
</phpunit>